.MainDiv{
    background-color: #c3deeb;
    /* margin: 0 auto; */
    width: 559px;
    /* display: flex; */
    margin-top: 106px;
    border-radius: 54px;
    height: 700px;
    padding: 30px
}
 .SearchInput{
    width: 303px;
    height: 50px;
    border-radius: 18px;
    padding: 10px;
    border-color: transparent;
} 
.SearchDiv{
    display: flex;
    flex-direction: row;
}
SearchLogo{
    height: 32px;
    width: 34px;
} 